.active {
  color: gold;
  font-size: 1.3rem;
  text-decoration: none;
}

.not-active {
  color: #355e3b;
  font-size: 1.3rem;
  text-decoration: none;
  outline: none;
  font-weight: 700;
}

.not-active:hover {
  color: gold;
  font-size: 1.3rem;
  text-decoration: none;
}
